@charset "UTF-8";
/** @format */
/** @format */
/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */
.text-primary {
  color: #8768ae !important;
}

.text-secondary {
  color: #ffaa87 !important;
}

.text-dark {
  color: #323232 !important;
}

.bg-dark {
  color: #323232 !important;
}

.bg-secondary {
  background-color: #ffaa87 !important;
}

.bg-white-2 {
  background-color: #efefef !important;
}

.bg-tertiary {
  background-color: #fadfd3 !important;
}

.bg-primary {
  background-color: #8768ae !important;
}

.bg-top-bottom-grad {
  background-image: linear-gradient(#8768ae, #ffaa87);
}

.bg-bottom-top-grad {
  background-image: linear-gradient(#ffaa87, #8768ae);
}

.bg-left-right-grad {
  background-image: linear-gradient(to right, #8768ae, #ffaa87);
}

/**
 * ==========================================================================
 *    FONTS / SETTINGS
 *    ==========================================================================
 *
 * @format
 */
/**
 * ==========================================================================
 *    #GENERIC
 *    ==========================================================================
 *
 * @format
 */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  text-decoration: none;
  color: #323232;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

li {
  list-style-type: none;
}

label {
  cursor: pointer;
}

.form-control {
  outline: none;
  border: none;
}
.form-control:focus,
.form-control :active,
.form-control :hover,
.form-control :focus-within,
.form-control :focus-visible,
.form-control :visited {
  color: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: none !important;
}

@media (min-width: 1920px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1620px;
  }
}
/**
 * ==========================================================================
 *      BODY / ELEMENT
 *    ==========================================================================
 *
 * @format
 */
body {
  color: #323232 !important;
  font-size: 1rem;
  background: #fadfd3;
  font-family: "Montserrat", sans-serif;
}

/**
 * ==========================================================================
 *    HEADINGS / ELEMENT
 *    ==========================================================================
 *
 * @format
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 0.875rem;
  margin-bottom: 0 !important;
}

/**
 * ==========================================================================
 *    #BUTTONS
 *    ==========================================================================
 *
 * @format
 */
.c-btn {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

/* Style variants
   ========================================================================== */
.c-btn-primary {
  border: none;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 6px;
  font-weight: bold;
  color: #ffaa87;
  font-size: 1.25rem;
  background-color: #8768ae !important;
}
.c-btn-primary:active, .c-btn-primary:hover, .c-btn-primary:active, .c-btn-primary:focus {
  border: none;
  color: #ffffff !important;
  text-decoration: none;
  background-color: rgba(135, 104, 174, 0.9) !important;
}

.c-btn-secondary {
  background-color: #2f4054;
}
.c-btn-secondary, .c-btn-secondary:hover, .c-btn-secondary:active, .c-btn-secondary:focus {
  text-decoration: none;
  color: #fff;
}
.c-btn-secondary:hover, .c-btn-secondary:focus {
  background-color: #1d2733;
}

.c-btn-tertiary {
  background-color: #fff;
  color: #4a8ec2;
}
.c-btn-tertiary, .c-btn-tertiary:hover, .c-btn-tertiary:active, .c-btn-tertiary:focus {
  text-decoration: none;
  color: #4a8ec2;
}
.c-btn-tertiary:hover, .c-btn-tertiary:focus {
  color: #3774a2;
}

/** @format */
/* ==========================================================================
   Home / pages
   ========================================================================== */
/** @format */
.navbar .navbar-nav .nav-item .badge {
  top: 5px !important;
  border: 1px solid #323232;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #323232;
  font-size: 1.125rem;
}

/**
 * ==========================================================================
 *    LOGIN / pages
 *    ==========================================================================
 *
 * @format
 */
.login__content-input .form-control {
  height: 50px;
  width: 325px;
}
.login__content-checkbox .form-check input[type=checkbox] {
  display: none;
}
.login__content-checkbox .form-check input[type=checkbox] + span {
  display: inline-block;
  position: relative;
}
.login__content-checkbox .form-check input[type=checkbox] + span:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 22px;
  height: 22px;
  left: -35px;
  border-radius: 50%;
  transform: translateY(-50%);
  border: 1px solid #8768ae;
  background-color: #8768ae;
}
.login__content-checkbox .form-check input[type=checkbox]:checked + span:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffaa87;
  left: -30px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}
.login__content-checkbox .form-check input[type=radio]:checked + span:after {
  border-radius: 50%;
  -khtml-border-radius: 50%;
}
/** @format */
/* ==========================================================================
   coaching-list / pages
   ========================================================================== */
#list-hero {
  height: 100vh;
}
#list-hero .list-hero .left {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #efefef;
  overflow: hidden;
}
#list-hero .list-hero .left .profile {
  position: relative;
  text-align: center;
}
#list-hero .list-hero .left .profile .icone {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}
#list-hero .list-hero .left .profile .icone .div {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
  cursor: pointer;
}
#list-hero .list-hero .left .profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#list-hero .list-hero .left .profile .p1 {
  font-weight: bold;
}
#list-hero .list-hero .left .profile .p3 {
  font-weight: bold;
}
#list-hero .list-hero .left .div .présentation {
  border-radius: 10px;
}
#list-hero .list-hero .left .div .présentation h5 {
  margin-bottom: 10px;
}
#list-hero .list-hero .left .div .spécialités {
  margin-top: 10px;
  border-radius: 10px;
}
#list-hero .list-hero .left .div .spécialités h5 {
  margin-bottom: 10px;
}
#list-hero .list-hero .left .div .spécialités p {
  padding: 2px 20px 5px 20px;
  display: inline-block;
  border-radius: 50px;
  margin: 10px 0;
}
#list-hero .list-hero .left .img {
  text-align: center;
  padding: 40px 0;
}
#list-hero .list-hero .right {
  border-radius: 20px;
  height: 100%;
  background-color: #efefef;
  overflow: hidden;
}
#list-hero .list-hero .right .head {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#list-hero .list-hero .right .head p {
  display: inline-block;
}
#list-hero .list-hero .right .head .number {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
#list-hero .list-hero .right .head i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: wheat;
  border-radius: 50px;
  font-size: 14px;
}
#list-hero .list-hero .right .coaching-list {
  height: 100%;
}
#list-hero .list-hero .right .coaching-list .coaching-item {
  background-color: rgb(234, 234, 234);
  padding: 10px 50px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#list-hero .list-hero .right .coaching-list .coaching-item ::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  content: "";
}
#list-hero .list-hero .right .coaching-list .coaching-item:hover ::after {
  background: rgba(0, 0, 0, 0.03);
}
#list-hero .list-hero .right .coaching-list .coaching-item .img {
  background-color: transparent;
  align-items: center;
  padding: 10px 0;
}
#list-hero .list-hero .right .coaching-list .coaching-item .img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#list-hero .list-hero .right .coaching-list .coaching-item .img .img-text {
  margin-left: 20px;
}
#list-hero .list-hero .right .coaching-list .coaching-item .img h5 span {
  font-size: 14px;
  font-weight: 400;
}
#list-hero .list-hero .right .coaching-list .coaching-item .img .text-icone {
  align-items: center;
}
#list-hero .list-hero .right .coaching-list .coaching-item .img .text-icone i {
  padding: 5px;
  border-radius: 50px;
  margin-right: 5px;
}
#list-hero .list-hero .right .coaching-list .coaching-item .text {
  padding: 5px 20px;
  background-color: rgb(244, 244, 244);
  border-radius: 10px;
}
#list-hero .list-hero .right .coaching-list .coaching-item .text .icone {
  margin-right: 20px;
  margin-top: 10px;
}
#list-hero .list-hero .right .coaching-list .coaching-item .text .icone i {
  padding: 5px;
  border-radius: 50px;
  margin-right: 5px;
}
#list-hero .list-hero .right .coaching-list .coaching-item .text .text-right p span {
  font-weight: bold;
}

/** @format */
/* ==========================================================================
   coaching-list / pages
   ========================================================================== */
#hero {
  height: 100vh;
}
#hero .hero .left {
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#hero .hero .left .profile {
  position: relative;
  border-radius: 20px;
  text-align: center;
}
#hero .hero .left .profile .icone {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}
#hero .hero .left .profile .icone .div {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
  cursor: pointer;
}
#hero .hero .left .profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#hero .hero .left .profile .p1 {
  font-weight: bold;
}
#hero .hero .left .profile .p3 {
  font-weight: bold;
}
#hero .hero .left .img {
  text-align: center;
  padding: 40px 0;
}
#hero .hero .right {
  border-radius: 20px;
  height: 100vh;
  background-color: #efefef;
  overflow: hidden;
}
#hero .hero .right .head {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffaa87;
}
#hero .hero .right .head p {
  display: inline-block;
}
#hero .hero .right .head .number {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
#hero .hero .right .head i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: wheat;
  border-radius: 50px;
  font-size: 14px;
}
#hero .hero .right .second-head {
  padding: 12px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero .right .second-head p {
  display: inline-block;
}
#hero .hero .right .second-head .number {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
#hero .hero .right .second-head i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: wheat;
  border-radius: 50px;
  font-size: 14px;
}
#hero .hero .right .second-head .date-colorBold {
  font-weight: bold;
}
#hero .hero .right .review-msg {
  padding: 12px 60px;
}
#hero .hero .right .review-msg label {
  font-size: 12px;
  font-weight: bold;
}
#hero .hero .right .review-msg .metuted-icon input {
  width: 100%;
  outline: none;
  border: none;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 6px;
}
#hero .hero .right .review-msg .metuted-icon .fa-xmark {
  position: relative;
  top: -29px;
  right: -475px;
}
#hero .hero .right .review-des {
  background-color: #F4F4F4;
  padding: 12px 60px;
}
#hero .hero .right .review-des label {
  font-size: 12px;
  font-weight: bold;
}
#hero .hero .right .review-des .metuted-icon textarea {
  resize: none;
  width: 100%;
  height: 100px;
  outline: none;
  border: none;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 6px;
}
#hero .hero .right .review-des .metuted-icon .fa-xmark {
  position: relative;
  top: -29px;
  right: -475px;
}
#hero .hero .right .review-btn {
  background-color: #F4F4F4;
  padding: 20px 60px;
}
#hero .hero .right .review-btn .c-btn-1 {
  background-color: #ffaa87;
  font-size: 9px;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 4px;
  margin-right: 8px;
}
#hero .hero .right .review-btn .c-btn-2 {
  background-color: #323232;
  color: #ffaa87;
  font-size: 9px;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 4px;
}
#hero .hero .chat-box {
  height: 100vh;
  border-radius: 20px;
  overflow: hidden;
}
#hero .hero .chat-box .chat-list {
  width: 100%;
  height: 80%;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #323232;
}
#hero .hero .chat-box .chat-list .message {
  align-items: center;
  margin: 10px 0;
}
#hero .hero .chat-box .chat-list .message img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  margin: 0 10px;
}
#hero .hero .chat-box .chat-list .message div span {
  font-size: 12px;
}
#hero .hero .chat-box .chat-list .message div p {
  padding: 5px 10px;
  background-color: #efefef;
  border-radius: 20px;
}
#hero .hero .chat-box .search .input {
  position: relative;
}
#hero .hero .chat-box .search .input input {
  width: 100%;
  padding: 3px 20px;
  border: none;
}
#hero .hero .chat-box .search .input i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/** @format */
/* ==========================================================================
   coaching-list / pages
   ========================================================================== */
#hero {
  height: 100vh;
}
#hero .hero .left {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}
#hero .hero .left .profile {
  position: relative;
  border-radius: 20px;
  text-align: center;
}
#hero .hero .left .profile .icone {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}
#hero .hero .left .profile .icone .div {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
  cursor: pointer;
}
#hero .hero .left .profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#hero .hero .left .profile .p1 {
  font-weight: bold;
}
#hero .hero .left .profile .p3 {
  font-weight: bold;
}
#hero .hero .left .img {
  text-align: center;
  padding: 40px 0;
  width: 100%;
}
#hero .hero .right {
  border-radius: 20px;
  height: 100%;
  background-color: #F4F4F4;
  overflow: hidden;
}
#hero .hero .right .head {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffaa87;
}
#hero .hero .right .head p {
  display: inline-block;
}
#hero .hero .right .head .number {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
#hero .hero .right .head i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: wheat;
  border-radius: 50px;
  font-size: 14px;
}
#hero .hero .right .second-head {
  padding: 12px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero .right .second-head p {
  display: inline-block;
}
#hero .hero .right .second-head .number {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
#hero .hero .right .second-head i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: wheat;
  border-radius: 50px;
  font-size: 14px;
}
#hero .hero .right .second-head .date-colorBold {
  font-weight: bold;
}
#hero .hero .right .review-msg {
  padding: 12px 60px;
}
#hero .hero .right .review-msg label {
  font-size: 12px;
  font-weight: bold;
}
#hero .hero .right .review-msg .metuted-icon input {
  width: 100%;
  outline: none;
  border: none;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 6px;
}
#hero .hero .right .review-msg .metuted-icon .fa-xmark {
  position: relative;
  top: -29px;
  right: -475px;
}
#hero .hero .right .review-des {
  background-color: #F4F4F4;
  padding: 12px 60px;
}
#hero .hero .right .review-des label {
  font-size: 12px;
  font-weight: bold;
}
#hero .hero .right .review-des .metuted-icon textarea {
  resize: none;
  width: 100%;
  height: 100px;
  outline: none;
  border: none;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 6px;
}
#hero .hero .right .review-des .metuted-icon .fa-xmark {
  position: relative;
  top: -29px;
  right: -475px;
}
#hero .hero .right .review-btn {
  background-color: #F4F4F4;
  padding: 20px 60px;
}
#hero .hero .right .review-btn .c-btn-1 {
  background-color: #ffaa87;
  font-size: 9px;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 4px;
  margin-right: 8px;
}
#hero .hero .right .review-btn .c-btn-2 {
  background-color: #323232;
  color: #ffaa87;
  font-size: 9px;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 4px;
}
#hero .hero .chat-box {
  height: 100vh;
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
}
#hero .hero .chat-box .chat-list {
  width: 100%;
  height: 80%;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #323232;
}
#hero .hero .chat-box .chat-list .message {
  align-items: center;
  margin: 10px 0;
}
#hero .hero .chat-box .chat-list .message img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  margin: 0 10px;
}
#hero .hero .chat-box .chat-list .message div span {
  font-size: 12px;
}
#hero .hero .chat-box .chat-list .message div p {
  padding: 5px 10px;
  background-color: #efefef;
  border-radius: 20px;
}
#hero .hero .chat-box .search .input {
  position: relative;
}
#hero .hero .chat-box .search .input input {
  width: 100%;
  padding: 3px 20px;
  border: none;
}
#hero .hero .chat-box .search .input i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/** @format */
/* ==========================================================================
   coaching-list / pages
   ========================================================================== */
#post-valider {
  height: 100vh;
}
#post-valider .hero .left {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}
#post-valider .hero .left .profile {
  position: relative;
  border-radius: 20px;
  text-align: center;
}
#post-valider .hero .left .profile .icone {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}
#post-valider .hero .left .profile .icone .div {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
  cursor: pointer;
}
#post-valider .hero .left .profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#post-valider .hero .left .profile .p1 {
  font-weight: bold;
}
#post-valider .hero .left .profile .p3 {
  font-weight: bold;
}
#post-valider .hero .left .img {
  text-align: center;
  padding: 40px 0;
  width: 100%;
}
#post-valider .hero .right {
  border-radius: 20px;
  height: 100%;
  background-color: #efefef;
}
#post-valider .hero .right .head {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffaa87;
}
#post-valider .hero .right .head p {
  display: inline-block;
}
#post-valider .hero .right .head .number {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
#post-valider .hero .right .head i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: wheat;
  border-radius: 50px;
  font-size: 14px;
}
#post-valider .hero .right .second-head {
  padding: 12px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#post-valider .hero .right .second-head p {
  display: inline-block;
}
#post-valider .hero .right .second-head .number {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
#post-valider .hero .right .second-head i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: wheat;
  border-radius: 50px;
  font-size: 14px;
}
#post-valider .hero .right .second-head .date-colorBold {
  font-weight: bold;
}
#post-valider .hero .right .review-msg {
  padding: 12px 60px;
}
#post-valider .hero .right .review-msg label {
  font-size: 12px;
  font-weight: bold;
}
#post-valider .hero .right .review-msg .metuted-icon input {
  width: 100%;
  outline: none;
  border: none;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 6px;
}
#post-valider .hero .right .review-msg .metuted-icon .fa-xmark {
  position: relative;
  top: -29px;
  right: -475px;
}
#post-valider .hero .right .review-des {
  background-color: #F4F4F4;
  padding: 12px 60px;
}
#post-valider .hero .right .review-des label {
  font-size: 12px;
  font-weight: bold;
}
#post-valider .hero .right .review-des .metuted-icon textarea {
  resize: none;
  width: 100%;
  height: 100px;
  outline: none;
  border: none;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 6px;
}
#post-valider .hero .right .review-des .metuted-icon .fa-xmark {
  position: relative;
  top: -29px;
  right: -475px;
}
#post-valider .hero .right .review-btn {
  background-color: #F4F4F4;
  padding: 20px 60px;
}
#post-valider .hero .right .review-btn .c-btn-1 {
  background-color: #ffaa87;
  font-size: 9px;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 4px;
  margin-right: 8px;
}
#post-valider .hero .right .review-btn .c-btn-2 {
  background-color: #323232;
  color: #ffaa87;
  font-size: 9px;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 4px;
}
#post-valider .hero .right .valider-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 60px;
}
#post-valider .hero .chat-box {
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
#post-valider .hero .chat-box .chat-list {
  width: 100%;
  height: 80%;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #323232;
}
#post-valider .hero .chat-box .chat-list .message {
  align-items: center;
  margin: 10px 0;
}
#post-valider .hero .chat-box .chat-list .message img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  margin: 0 10px;
}
#post-valider .hero .chat-box .chat-list .message div span {
  font-size: 12px;
}
#post-valider .hero .chat-box .chat-list .message div p {
  padding: 5px 10px;
  background-color: #efefef;
  border-radius: 20px;
}
#post-valider .hero .chat-box .search .input {
  position: relative;
}
#post-valider .hero .chat-box .search .input input {
  width: 100%;
  padding: 3px 20px;
  border: none;
}
#post-valider .hero .chat-box .search .input i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/** @format */
/* ==========================================================================
   coaching-list / pages
   ========================================================================== */
#post-valider {
  height: 100vh;
}
#post-valider .list-hero .left {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}
#post-valider .list-hero .left .profile {
  position: relative;
  border-radius: 20px;
  text-align: center;
}
#post-valider .list-hero .left .profile .icone {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}
#post-valider .list-hero .left .profile .icone .div {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
  cursor: pointer;
}
#post-valider .list-hero .left .profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#post-valider .list-hero .left .profile .p1 {
  font-weight: bold;
}
#post-valider .list-hero .left .profile .p3 {
  font-weight: bold;
}
#post-valider .list-hero .left .img {
  text-align: center;
  padding: 40px 0;
  width: 100%;
}
#post-valider .list-hero .right {
  border-radius: 20px;
  height: 100%;
  background-color: #F4F4F4;
  overflow: hidden;
}
#post-valider .list-hero .right .head {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffaa87;
}
#post-valider .list-hero .right .head p {
  display: inline-block;
}
#post-valider .list-hero .right .head .number {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
#post-valider .list-hero .right .head i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: wheat;
  border-radius: 50px;
  font-size: 14px;
}
#post-valider .list-hero .right .second-head {
  padding: 12px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#post-valider .list-hero .right .second-head p {
  display: inline-block;
}
#post-valider .list-hero .right .second-head .number {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
#post-valider .list-hero .right .second-head i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: wheat;
  border-radius: 50px;
  font-size: 14px;
}
#post-valider .list-hero .right .second-head .date-colorBold {
  font-weight: bold;
}
#post-valider .list-hero .right .review-msg {
  padding: 12px 60px;
}
#post-valider .list-hero .right .review-msg label {
  font-size: 12px;
  font-weight: bold;
}
#post-valider .list-hero .right .review-msg .metuted-icon input {
  width: 100%;
  outline: none;
  border: none;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 6px;
}
#post-valider .list-hero .right .review-msg .metuted-icon .fa-xmark {
  position: relative;
  top: -29px;
  right: -475px;
}
#post-valider .list-hero .right .review-des {
  background-color: #F4F4F4;
  padding: 12px 60px;
}
#post-valider .list-hero .right .review-des label {
  font-size: 12px;
  font-weight: bold;
}
#post-valider .list-hero .right .review-des .metuted-icon textarea {
  resize: none;
  width: 100%;
  height: 100px;
  outline: none;
  border: none;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 6px;
}
#post-valider .list-hero .right .review-des .metuted-icon .fa-xmark {
  position: relative;
  top: -29px;
  right: -475px;
}
#post-valider .list-hero .right .review-btn {
  background-color: #F4F4F4;
  padding: 20px 60px;
}
#post-valider .list-hero .right .review-btn .c-btn-1 {
  background-color: #ffaa87;
  font-size: 9px;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 4px;
  margin-right: 8px;
}
#post-valider .list-hero .right .review-btn .c-btn-2 {
  background-color: #323232;
  color: #ffaa87;
  font-size: 9px;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 4px;
}
#post-valider .list-hero .right .valider-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 60px;
}
#post-valider .list-hero .chat-box {
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
#post-valider .list-hero .chat-box .chat-list {
  width: 100%;
  height: 80%;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #323232;
}
#post-valider .list-hero .chat-box .chat-list .message {
  align-items: center;
  margin: 10px 0;
}
#post-valider .list-hero .chat-box .chat-list .message img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  margin: 0 10px;
}
#post-valider .list-hero .chat-box .chat-list .message div span {
  font-size: 12px;
}
#post-valider .list-hero .chat-box .chat-list .message div p {
  padding: 5px 10px;
  background-color: #efefef;
  border-radius: 20px;
}
#post-valider .list-hero .chat-box .search .input {
  position: relative;
}
#post-valider .list-hero .chat-box .search .input input {
  width: 100%;
  padding: 3px 20px;
  border: none;
}
#post-valider .list-hero .chat-box .search .input i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}/*# sourceMappingURL=style.css.map */